
.window{
  background-color: #fff;
  opacity: 0.8;
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top: 15vh;
  border-radius: 5px;
  width: 400px;
  @include tablet{
    margin-top: 10vh;
  }

  @include laptop{
    margin-top: 10vh;
  }

  padding-top:40px;
  position: relative;

  &__title{
    color: #455a64;
    font-size:28px;
    font-weight: 500;
    margin-bottom: 0;
  }

  &__content p{
    color: #455a64;
    font-size: 16px;
    font-weight:400;
    margin-top: 10px;
  }

  @include clearfix;
}

.avatar-box{
  border-radius: 50%;
  overflow: hidden;
  $size: 147px;
  width: $size;
  height: $size;
}

.stretch-img{
  width: 100%;
}

$footer_height: 60px;
.footer{
  height: $footer_height;
  margin-top: -$footer_height;
  color: #d8dde3;
  text-align: center;
  position: relative;
}

.wrapper{
  min-height: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.login{
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  padding-right: 100px;
  padding-top: 20px;

  @include phones{
    justify-content: center;
    padding-right: 0;
  }

  &__link{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ffffff;
    padding: 10px 25px;
    font-weight:900;

    &:hover{
      background-color: #fff;
      color: #00bfa5;
    }
  }
}

.center-menu{
  padding: 0;
  margin: 10px auto 30px auto;
  display: flex;
  list-style:none;
}

.center-menu__item{
  width: 32px+25px;
  padding-right: 25px;
  &:last-child{
    padding-right: 0;
    width: 32px;
  }
}

.social-icon{
  line-height: 2rem;
  display: inline-block;
  width: 28px;
  height: 28px;
  vertical-align: middle;
  fill: #00bfa5;
  fill-opacity: .5;

  &:hover{
    fill-opacity: 1;
  }
}

.wide-menu{
  padding:0;
  margin: 0;
  list-style:none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .wide-menu__item{
    flex:1 1 auto;
    height: 48px;

    .wide-menu__link{
      border-right:2px solid #dee3e7;
      background-color: #00bfa5;
      display: block;
      height:100%;
      line-height:48px;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
      &:hover{
        background-color: #009688;
      }
    }
    &:last-child a{
      border: 0;
      border-radius: 0 0 5px 0;
    }

    &:first-child a{
      border-radius: 0 0 0 5px;
    }

  }
}