body {
  margin: 0;
  fill: currentColor;
  color: red;
}

@media screen and (max-width: 1200px){
  body{
    background: url('../img/bg1200.jpg') no-repeat;
    opacity: 0.8;
  }

  .container{
    width: 1200px;
    margin: 0 auto;
    .cols{
      float: left;
      padding-left:10px;
      padding-right:10px;

      &.col-1{
        width: (100%/12*1);
      }
      &.col-2{
        width: (100%/12*2);
      }
      &.col-3{
        width: (100%/12*3);
      }
      &.col-4{
        width: (100%/12*4);
      }
      &.col-5{
        width: (100%/12*5);
      }
      &.col-6{
        width: (100%/12*6);
      }
      &.col-7{
        width: (100%/12*7);
      }
      &.col-8{
        width: (100%/12*8);
      }
      &.col-9{
        width: (100%/12*9);
      }
      &.col-10{
        width: (100%/12*10);
      }
      &.col-11{
        width: (100%/12*11);
      }
      &.col-12{
        width: (100%/12*12);
      }
    }
  }
}

.welcome{
  margin: 150px auto 100px auto;
  width: (100%/12*4);
  background-color: #fff;
}
img{
  fill: red;
  border: 5px solid currentColor;
}