@import "common/_mixins";
//@import "common/grid";
@import "common/fonts";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  height:100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 1200px){
  body{
    background: url('../img/bg1200.jpg') no-repeat;
  }
}

@media screen and (max-width: 1920px) {
  body {
    background: url('../img/bg1920.jpg') 50% 0 no-repeat;
  }
}

@import "pages/welcome";