.login
    a.login__link(href='#') Авторизироваться
.container
    .window
        .avatar-box
            img.stretch-img(src="/assets/img/face.jpg")
        h1.window__title Игорь Боженников
        .window__content: p Личный сайт веб разрабодчика
        ul.center-menu
            each $url, $icon in {'vk':'https://vk.com/mr23423412', 'github':'https://github.com/nuwak', 'in': '123'}
                li.center-menu__item: a.center-menu__link(href=$url target='_blank')
                    svg.social-icon
                        use(xlink:href="/assets/img/sprite.svg#" + $icon)

        ul.wide-menu
            each $url, $name in {'Мои работы' : 'works.html', "Обо мне" : "/about.html", "Блог" : '/blog.html'}
                li.wide-menu__item: a.wide-menu__link(href=$url)=$name