@mixin clearfix{
  &:before,
  &:after{
    content: '';
    display: table;
  }

  &:after{
    clear: both;
  }
}

@mixin ul_menu{
  list-style: none;
  margin:0;
  padding:0;
  li{
    float: left;
    a{
      text-decoration: none;
    }
  }
}

@mixin full-hd{
  @media (max-width: 1920px) {
    @content;
  }
}

@mixin desktop{
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin laptop{
  @media (max-width: 992px) {
    @content;
  }
}

@mixin tablet{
  @media (max-width: 768px) {
    @content;
  }
}

@mixin phones{
  @media (max-width: 480px) {
    @content;
  }
}

@mixin block($name){
  /*==============[ #{$name}  ==============*/
  @content
  /*==============  #{$name} ]==============*/
}

@mixin perimeter($radius){
  stroke-dasharray: ceil($radius * 2 * 3.14159);
}

@mixin skill($radius, $percent){
  stroke-dashoffset: ceil($radius * 2 * 3.14159 / 100 * (100 - $percent));
}