$fonts_path: '/assets/fonts/';
$font_roboto: (
        Regular 400 normal,
        Bold 700 normal,
        BoldItalic 700 italic,
        Italic 400 italic,
        Light 300 normal,
        LightItalic 300 italic,
        Medium 500 normal,
        MediumItalic 500 italic,
);

@each $font in $font_roboto {
  @font-face {
    font-family: 'Roboto';
    src: url($fonts_path + 'Roboto-'+ nth($font,1) +'.ttf') format('truetype');
    font-weight: nth($font,2);
    font-style: nth($font,3);
  }
}

@font-face {
  font-family: 'BERNIER';
  src: url($fonts_path + 'BERNIERRegular-Regular.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
}