.cols{
  float: left;
  padding-right:3%;

  &:last-child{
    padding-right: 0;
  }

  @for $i from 1 through 12 {
    &.col-#{$i} {
      width: round((1200px/12*$i));
    }
  }
}

.container {
  display: block;
  width: 1200px;
  margin: 0 auto;
  clear: both;
  height: 100%;

  @include clearfix;
}