extends ../_template

block variables
  - var title = 'Обо мне'
  - var header_bg = 'about_header'
  - var page = 'page-about'

block content
  include ../common/_header
  include ../common/_about

block footer
  include ../common/_footer